PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://nsamussa1_db_user:13rGDXhrc6O7wjyD@cluster0.glxh2is.mongodb.net/rsk-associates?appName=Cluster0
JWT_SECRET=kkk123
JWT_EXPIRE=7d
COOKIE_EXPIRE=7
FRONTEND_URL = https://rsk-topaz.vercel.app/
